<div class="wrapper">
    <app-nav-bar></app-nav-bar>
    <div id="content">
        <angular2-multiselect [data]="dayOfWeekDropdown" [(ngModel)]="selectedItem" [settings]="dayOfWeekDropdownSettings"
            (onSelect)="onDayOfWeekSelect($event)" (onDeSelect)="onDayOfWeekDeSelect($event)"
            ></angular2-multiselect>


        <angular2-multiselect [data]="transportLineDropdown" [(ngModel)]="selectedItems" [settings]="transportLineDropdownSettings"
            (onSelect)="onItemSelect($event)" (onDeSelect)="onItemDeSelect($event)"
            ></angular2-multiselect>

        <table *ngIf="selectedItems.length!=0" mat-table [dataSource]="dataSource">

            <!-- Position Column -->
            <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
                <mat-header-cell *matHeaderCellDef> {{column}} </mat-header-cell>
                
                <mat-cell *matCellDef="let element"> {{element[column]}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columnsToDisplay;"></mat-row>
        
        </table>

        <div *ngIf="selectedItems.length==0">Select a Day of week and Transport lines!</div>

    </div>
</div>