<div class="wrapper">
    <app-nav-bar></app-nav-bar>
    <div id="content">
        <div class="card">
            <div class="container">
                <div class="row">
                    <div class="col-7">
                        <app-news></app-news>
                    </div>
                    <div class="col-2"></div>
                    <div class="col-3">
                        <app-auth></app-auth>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="container-fluid">
                    <div class="text-center">
                        <img src="https://ocdn.eu/pulscms-transforms/1/NUBk9lMaHR0cDovL29jZG4uZXUvaW1hZ2VzL3B1bHNjbXMvTldRN01EQV8vNWQ4NjA5YjYzYjAxMTZjZThkMTFkZWQ5YmNhMDgzZjQuanBlZ5GTAs0EsACBoTAB" class="img-responsive center-block" style="max-height:300px;padding-bottom:50px"
                        />
                    </div>


                    <div *ngIf="!userService.isAuthenticated()" class="text-center ">
                        <button [routerLink]="[ '/signup'] ">Sign up</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>