<div class="card">
    <div>
        <p>Log In</p><br>
        <input type="text" [class.incorrect]="usernameInvalid" placeholder="Username" [(ngModel)]="login.username" /><br>
        <input type="password" [class.incorrect]="passwordInvalid" placeholder="Password" [(ngModel)]="login.password" /><br>
        <button (click)="tryLogin()">Log In</button>
    </div>
    <div class="card-header">
        {{pageTitle}}
    </div>

    <div class="card-body">
        <div class="container-fluid">
            <div class="text-center">
                <img src="https://ocdn.eu/pulscms-transforms/1/NUBk9lMaHR0cDovL29jZG4uZXUvaW1hZ2VzL3B1bHNjbXMvTldRN01EQV8vNWQ4NjA5YjYzYjAxMTZjZThkMTFkZWQ5YmNhMDgzZjQuanBlZ5GTAs0EsACBoTAB" class="img-responsive center-block" style="max-height:300px;padding-bottom:50px"
                />
            </div>

            <div class=" text-center ">Developed by:</div>
            <div class="text-center ">
                <h3>Filip Baturan</h3>
                <button [routerLink]="[ '/signup'] ">Sign up</button>
            </div>
            <app-map></app-map>

        </div>
    </div>
</div>