<div class="container">
    <h4 class="display-4" align="center">TICKET RESERVATION</h4>
    <div class="row">
        <div class="col-8">
            <div *ngIf="choice" id="choiceContainer" class="container">
                <div class="card">
                    <button id="cardCreate" class="btn btn-success" (click)="chooseType('DAILY')">Buy daily tickets</button>
                </div>
                <div id="cardModify" class="card">
                    <button class="btn btn-info" (click)="chooseType('MONTHLY_ANNUAL')">Buy monthly or annual ticket</button>
                </div>
            </div>
            <p>Reservation of {{durationType}} ticket.</p>
            <div class="dailyReservation" *ngIf="dailySelected">
                <div class="form-group">
                    <label for="sel1">Transport type:</label>
                    <select class="form-control" id="sel1" [(ngModel)]="transportType">
                        <option>BUS</option>
                        <option>METRO</option>
                        <option>TRAM</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="sel1">Zone:</label>
                    <select class="form-control" id="sel1" (change)="zoneChange($event.target.value)">
                        <option *ngFor="let zone of zones" [ngValue]="zone">{{zone.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="sel1">Duration:</label>
                    <select class="form-control" id="sel1" [(ngModel)]="durationType">
                        <option>ONETIME</option>
                        <option>DAILY</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="sel1">All/One line:</label>
                    <select class="form-control" id="sel1" [(ngModel)]="transportLineType">
                        <option>One line</option>
                        <option>All lines</option>
                    </select>
                </div>
                <div *ngIf="transportLineType === 'One line'">
                    <div class="form-group">
                        <label for="sel1">Line:</label>
                        <select class="form-control" id="sel1" (change)="lineChange($event.target.value)">
                            <option *ngFor="let line of filterByTransport">{{line.name}}</option>
                        </select>
                    </div>
                </div>
                <br>
                <div>
                    <mat-form-field>
                        <input matInput [matDatepicker]="picker" [(ngModel)]="purchaseDate" placeholder="Od">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <button class="btn btn-info" (click)="check()">Reserve</button>
                <button class="btn btn-success" (click)="reserve()">Finish</button>
            </div>
            <div class="monthly" *ngIf="monthlyAnnualSelected">
                <div class="form-group">
                    <label for="sel1">Transport type:</label>
                    <select class="form-control" id="sel1" [(ngModel)]="transportType">
                        <option>BUS</option>
                        <option>METRO</option>
                        <option>TRAM</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="sel1">Age type:</label>
                    <select class="form-control" id="sel1" [(ngModel)]="ageType">
                        <option>REGULAR</option>
                        <option>STUDENT</option>
                        <option>PENSIONER</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="sel1">Duration:</label>
                    <select class="form-control" id="sel1" [(ngModel)]="durationType">
                        <option>MONTHLY</option>
                        <option>ANNUAL</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="sel1">Zone:</label>
                    <select class="form-control" id="sel1" (change)="zoneChange($event.target.value)">
                        <option *ngFor="let zone of zones" [ngValue]="zone">{{zone.name}}</option>
                    </select>
                </div>
                <div *ngIf="ageType === 'STUDENT' || ageType === 'PENSIONER'">
                    <input id="upload" value="Upload validation file" type="file" (change)="onFileSelected($event)">
                    <button class="btn btn-info" (click)="onUpload()">Upload</button>
                </div>

                <button class="btn btn-info" (click)="reserveTicket()">Reserve</button>
            </div>
        </div>
        <div class="col-4">
            <div *ngFor="let ticket of reservation.tickets" class="card text-white bg-primary mb-3" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ticket.ticketType}}</h5>
                    <h6 *ngIf="dailySelected" class="card-subtitle mb-2 text-muted">{{ticket.purchaseDate|date: 'dd.MM.yyyy'}}</h6>
                </div>
            </div>
        </div>
    </div>
</div>