<div class="wrapper">
  <app-nav-bar></app-nav-bar>
  <div id="content">
      <angular2-multiselect [data]="transportLineDropdown" [(ngModel)]="selectedItems" [settings]="transportLineDropdownSettings"
          (onSelect)="onItemSelect($event)" (onDeSelect)="onItemDeSelect($event)"></angular2-multiselect>

      <table *ngIf="selectedItems.length!=0" mat-table [dataSource]="dataSource" matSort>

          <!-- Position Column -->
          <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
              <mat-header-cell *matHeaderCellDef mat-sort-header> {{column}} </mat-header-cell>
              <mat-cell *matCellDef="let element">
                  <mat-form-field floatLabel="never">
                      <input matInput placeholder="Departure" (focus) ="memorizeFocusedDeparture($event, element[column])"
                       (focusout)="checkDeparture(element[column], element, column)" [value]="element[column]" [(ngModel)]="element[column]">
                    </mat-form-field>
                 </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
          <mat-row *matRowDef="let row; columns: columnsToDisplay;"></mat-row>
        
        </table>

      <!--<i class="fa fa-plus-square"></i> <i class="fa fa-minus-square"></i>-->
      <div    *ngIf="selectedItems.length==0">Select a Day of week and Transport lines!</div>
      <button *ngIf="selectedItems.length!=0" (click) = "addNewRow()">Add</button>
      <button *ngIf="selectedItems.length!=0" (click) = "removeRow()">Remove</button>
      <button *ngIf="selectedItems.length!=0" (click) = "updateSchedule()">Save</button>
  </div>
</div>