
.example-container {
    margin-top: 25px;
    display: flex;
    justify-content: center;
  }

.mat-table{
    align-self: center;
}

.mat-table__wrapper .mat-table {
    min-width: auto;
    width: 100% ;
}

.mat-header-row {
    width: 100%;
}

.mat-header-row th{
    text-align: center;
}

.mat-row {
    width: 100%;
}

.mat-column-firstName{
    flex: 0 0 25% !important;
    min-width: 104px !important;
}

.mat-column-lastName {
    flex: 0 0 25% !important;
    min-width: 104px !important;
}

.mat-column-userName {
    flex: 0 0 25% !important;
    min-width: 104px !important;
}

.mat-column-email {
    flex: 0 0 25% !important;
    min-width: 180px !important;
}

.mat-column-docs {
    flex: 0 0 25% !important;
    min-width: 180px !important;
}
.mat-column-change {
    flex: 0 0 25% !important;
    min-width: 104px !important;
}

.mat-app-background{
    text-align: center;
}

#mainDiv{
    text-align: center;
}

#addButton{
    margin: 20px;
}
   
.full-width {
    width: 100%;
}

#regDiv{
    margin: 0 auto; 
    width: 500px;
    margin-top: 100px;  
}
