<div class="wrapper">
        <app-nav-bar></app-nav-bar>
        <div id="content">
                <div class="signupForm" align="center">
                        <input class="input" [class.incorrect]="nameInvalid" type="text" placeholder="Name" [(ngModel)]='user.name' /><br>
                        <input class="input" [class.incorrect]="lastNameInvalid" type="text" placeholder="Last name"
                                [(ngModel)]='user.lastName' /><br>
                        <input class="input" [class.incorrect]="usernameInvalid" type="text" placeholder="Username"
                                [(ngModel)]='user.username' /><br>
                        <input class="input" [class.incorrect]="passwordInvalid" type="password" placeholder="Password"
                                [(ngModel)]='user.password' /><br>
                        <input class="input" [class.incorrect]="emailInvalid" type="text" placeholder="Email"
                                [(ngModel)]='user.email' /><br>
                        <input class="input" [class.incorrect]="phoneInvalid" type="text" placeholder="Telephone"
                                [(ngModel)]='user.telephone' /><br>
                        <button class="btn btn-info" (click)='tryRegister()'>Sign Up</button>
                </div>
        </div>
</div>