<!DOCTYPE html>

<meta http-equiv="Content-Type" content="map/html; charset=utf-8">
<!-- <link rel="stylesheet" href="../../lib/dist/lib/leaflet.css" />
<link rel="stylesheet" href="../../lib/dist/lib/leaflet.draw.css" />
<script src="../../lib/dist/lib/leaflet.js"></script>
<script src="../../lib/dist/lib/leaflet.draw.js"></script>

<script src="../../lib/src/MapBBCode.js"></script>
<script src="../../lib/src/MapBBCodeUI.js"></script>
<script src="../src/app/lib/src/MapBBCodeUI.Editor.js"></script>
<script src="../src/app/lib/src/images/EditorSprites.js"></script>
<script src="../src/app/lib/src/controls/FunctionButton.js"></script>
<script src="../src/app/lib/src/controls/LetterIcon.js"></script>
<script src="../src/app/lib/src/controls/PopupIcon.js"></script>
<script src="../src/app/lib/src/controls/Leaflet.Search.js"></script>
<script src="../src/app/lib/src/controls/PermalinkAttribution.js"></script>
<script src="../src/app/lib/src/controls/StaticLayerSwitcher.js"></script>
<script src="../src/app/lib/src/handlers/Handler.Text.js"></script>
<script src="../src/app/lib/src/handlers/Handler.Color.js"></script>
<script src="../src/app/lib/src/handlers/Handler.Width.js"></script>
<script src="../src/app/lib/src/handlers/Handler.Measure.js"></script>
<script src="../src/app/lib/src/strings/English.js"></script>     -->

<!-- <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
   integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
   crossorigin=""/>

<script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
crossorigin=""></script> -->

<link rel="stylesheet" type="text/css" href="./node_modules/leaflet/dist/leaflet.css">

<p>This is the main example. It tests viewing and editing bbcode from textarea,
     updating it without recreating a panel, search in editing,
      permalinkAttribution (see MapSurfer), text icon types, Width and Measure handlers,
       <i>createLayers</i> and <i>preferStandardLayerSwitcher</i> options.</p>
<textarea id="code" style="width: 50%; height: 6em; display: none;">[map=45.2519,19.837][/map]</textarea>
<input type="button" value="Update" (click)="update()">
<!-- <input type="button" value="Edit" onclick="javascript:edit();"> -->
<input type="button" value="Edit" (click)="edit()">
<input type="button" value="Move" (click)="move()">
<div id="edit"></div>
<div id="mapid"></div>
<div id="leaflet"></div>
<!-- <script>

    var mapBB = new MapBBCode({
      defaultPosition: [45.2519,19.837],
      defaultZoom: 15,
    preferStandardLayerSwitcher: false,
      createLayers: function(L) { 
        return [
          MapBBCode.prototype.createOpenStreetMapLayer(),
          L.tileLayer('http://{s}.tile.opencyclemap.org/cycle/{z}/{x}/{y}.png', { name: 'CycleMap' })
      ]}
  });


    function move(){
        show.updateBBCode( this.bbCode.replace("[/map]", this.positions = ["45.26377,19.82895", "45.26407,19.82122", "45.26274,19.81878", 
                    "45.26015,19.82195", "45.25761,19.82431", "45.2529,19.82431", 
                    "45.24867,19.82466", "45.24398,19.82504", "45.23972,19.82552", 
                    "45.23712,19.82655", "45.23879,19.83264", "45.24166,19.84268", 
                    "45.24565,19.84045", "45.24951,19.83839", "45.25229,19.83685", 
                    "45.25833,19.83341", "45.26154,19.83174", "45.26419,19.83028", 
                    "45.26377,19.82891"],
                    this.positions[(++bus1PositionIndex) % this.positions.length] + 
                        "(bus1 <>); " + this.positions[(++bus2PositionIndex) % this.positions.length]+ "(bus2 <>)[/map]"));
    }

    function update() {
        // show.updateBBCode(document.getElementById('code').value);
        show.updateBBCode(this.bbCode);
    }
    function edit() {
        // mapBB.editor('edit', document.getElementById('code'), function(res) {
        //     if( res !== null )
        //         update();
        // });
        mapBB.editor('edit', bbCode, function(res) {
            bbCode = res;
            if( res !== null )
                update();
        });
    }

    function editorWindow(){
        mapBB.editorWindow(document.getElementById('code').value, function(res){
            console.log(res);
        });
    }

</script> -->