<!DOCTYPE html>
<meta http-equiv="Content-Type" content="map/html; charset=utf-8">
<!-- <link rel="stylesheet" href="server/lib/dist/lib/leaflet.css" />
<link rel="stylesheet" href="server/lib/dist/lib/leaflet.draw.css" />
<script src="server/lib/dist/lib/leaflet.js"></script>
<script src="server/lib/dist/lib/leaflet.draw.js"></script>

<script src="server/lib/src/MapBBCode.js"></script>
<script src="server/lib/src/MapBBCodeUI.js"></script>
<script src="server/lib/src/MapBBCodeUI.Editor.js"></script>
<script src="server/lib/src/images/EditorSprites.js"></script>
<script src="server/lib/src/controls/FunctionButton.js"></script>
<script src="server/lib/src/controls/LetterIcon.js"></script>
<script src="server/lib/src/controls/PopupIcon.js"></script>
<script src="server/lib/src/controls/Leaflet.Search.js"></script>
<script src="server/lib/src/controls/PermalinkAttribution.js"></script>
<script src="server/lib/src/controls/StaticLayerSwitcher.js"></script>
<script src="server/lib/src/handlers/Handler.Text.js"></script>
<script src="server/lib/src/handlers/Handler.Color.js"></script>
<script src="server/lib/src/handlers/Handler.Width.js"></script>
<script src="server/lib/src/handlers/Handler.Measure.js"></script>
<script src="server/lib/src/strings/English.js"></script> -->

<p>This is the main example. It tests viewing and editing bbcode from textarea, updating it without recreating a panel, search in editing, permalinkAttribution (see MapSurfer), text icon types, Width and Measure handlers, <i>createLayers</i> and <i>preferStandardLayerSwitcher</i> options.</p>
<textarea id="code" style="width: 50%; height: 6em; display: none;">[map=45.2519,19.837][/map]</textarea>
<input type="button" value="Update" onclick="javascript:update();">
<input type="button" value="Edit" onclick="javascript:edit()">
<input type="button" value="Move" onclick="javascript:move()">
<div id="edit"></div>
<div id="test"></div>
<script>
var bbCode = "[map]45.24166,19.84264(S6); 45.23876,19.83273(S5); 45.24395,19.82509(S4); 45.24948,19.83839(S7); 45.25833,19.83341(S8); 45.26389,19.82882(S1); 45.26021,19.822(S2); 45.2529,19.82431(S3); 45.26377,19.82895 45.26407,19.82122 45.26274,19.81878 45.26015,19.82195 45.25761,19.82431 45.2529,19.82431 45.24867,19.82466 45.24398,19.82504 45.23972,19.82552 45.23712,19.82655 45.23879,19.83264 45.24166,19.84268 45.24565,19.84045 45.24951,19.83839 45.25229,19.83685 45.25833,19.83341 45.26154,19.83174 45.26419,19.83028 45.26377,19.82891 (red|R1)[/map]"
var positions = ["45.26377,19.82895", "45.26407,19.82122", "45.26274,19.81878", 
                 "45.26015,19.82195", "45.25761,19.82431", "45.2529,19.82431", 
                 "45.24867,19.82466", "45.24398,19.82504", "45.23972,19.82552", 
                 "45.23712,19.82655", "45.23879,19.83264", "45.24166,19.84268", 
                 "45.24565,19.84045", "45.24951,19.83839", "45.25229,19.83685", 
                 "45.25833,19.83341", "45.26154,19.83174", "45.26419,19.83028", 
                 "45.26377,19.82891"];
//var bbCode = document.getElementById('code').value;


function move(){
    show.updateBBCode( bbCode.replace("[/map]", positions[(++bus1PositionIndex) % positions.length] + 
                    "(bus1 <>); " + positions[(++bus2PositionIndex) % positions.length]+ "(bus2 <>)[/map]"));
}

function update() {
    // show.updateBBCode(document.getElementById('code').value);
    show.updateBBCode(bbCode);
}
function edit() {
    // mapBB.editor('edit', document.getElementById('code'), function(res) {
    //     if( res !== null )
    //         update();
    // });
    mapBB.editor('edit', bbCode, function(res) {
        bbCode = res;
        if( res !== null )
            update();
    });
}

// function editorWindow(){
//     mapBB.editorWindow(document.getElementById('code').value, function(res){
//         console.log(res);
//     });
// }

</script>