<div style="text-align:center">
    <ul class="nav navbar-nav">
        <li><a [routerLink]="['/welcome']">Home</a></li>
        <li><a [routerLink] = "['/schedule']">Schedules</a></li>
        <li><a [routerLink]="['/transportLineList']">Transport Lines</a></li>
        <li><a [routerLink]="['/unconfirmedUsers']">Unconfirmed Users</a></li>
        <li><a [routerLink]="['/validators']">Validators</a></li>
        <li><a [routerLink]="['/registeredUsers']">Registered Users</a></li>
        <li><a [routerLink]="['/reports']">Reports</a></li>
        <li><a [routerLink]="['/vehicles']">Vehicles</a></li>
        <li><a [routerLink]="['/tickets']">Tickets</a></li>
        <li><a [routerLink]="['/zones']">Zones</a></li>
        <li><a [routerLink]="['/map']">Map</a></li>
    </ul>
</div>